{% extends 'base.html' %}


{% block homeactive %}active {% endblock homeactive%}
{% block body %}
{% load static %}
<div class="container" style="margin-top:6em;">
    <div class="row">
       <div class="col-md-12">
        <h3 ><b>Latest Tech News</b></h3>
        </div>
        {% for blog in blogs reversed %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
            <div class="card" style="width: 22rem;">
                <img src="{{blog.IMG_url}}" class="card-img-top" style="height:12rem;" alt="Img not found">
                <div class="card-body">
                <h5 class="card-title">{{blog.title|truncatechars:30}}</h5>
                <b>{{blog.user.username}}</b>{{blog.pub_date}}({{blog.view}} views)
                <a href="{% url 'blogpost' blog.post_id %}" class="btn btn-primary">Read</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
