{% extends 'base.html' %}
{% block title %}
IamCODER
{% endblock title %}
{%block css %}
body {
background-color: #ffffff; }
{%endblock css%}
{% block homeactive %}active {% endblock homeactive%}
{% block body %}
{% load static %}
<div class="container">
    <div class="row my-2">
        <h3><b>Latest Tech News</b></h3>
        {% for blog in blogs %}
        <div class="col-md-10">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{blog.title}}</h3>
                    <div class="mb-1 text-muted"><b>{{blog.writter}}</b> {{blog.pub_date}}</div>
                    <p class="card-text mb-auto">{{blog.desc}}...</p>
                    <a href="blogpost/{{blog.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="/media/{{blog.thumbnail}}" class="bd-placeholder-img my-4" style="height:80%;">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}