{% extends 'base.html' %}


{% block homeactive %}active {% endblock homeactive%}
{% block css %}
.card-width{
 width: 28rem; 
 min-height: 22rem;
}
.t_card{
 width: 20rem; 

}
@media screen and (max-width: 820px) {
    .card-width{
    width: 19rem; 
    min-height: 20rem;
    
    }
    .t_card{
    width: 18rem; 

    }
    .t_hide{
        display:none;
    }
}
{% endblock css %}
{% block body %}
{% load static %}
<div class="container-fluid" style="margin-top:6em; overflow-x:hidden;">
    <div class="row">
        <div class="col-md-12">
            <h3><b style="color: black;">Latest Tech Blogs</b></h3>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-12 row" id="all_blogs">
        {% for blog in blogs reversed %}
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3" >
            <a href="{% url 'blogpost' blog.post_id %}" style="text-decoration:none;">
                <div class="card card-width">
                    <img src="{{blog.IMG_url}}" class="card-img-top" style="height:12rem;" alt="Img not found">
                    <div class="card-body" style="color: black;">
                        <h5 class="card-title">{{blog.title|truncatechars:50}}</h5>
                        {{blog.pub_date}} <b>{{blog.user}}</b>({{blog.view}} views)
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 mt-3 t_hide">
            <div class="col-12 row card" >
                <div class="card-header">
                    <b>Trending Blogs <a class="ml-5"href="/trending/">See all</a></b>
                </div>
                <div class="card-body">
                    {% for blog in t_blogs %}
                        <div class="col-12 mt-4 border-bottom" >
                            <a href="{% url 'blogpost' blog.post_id %}" style="text-decoration:none;">      
                                <img src="{{blog.IMG_url}}" class="card-img-top" style="height:8rem;">
                                ##{{ forloop.counter }}<b style="color: black;">{{blog.title|truncatechars:60}}</b>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div id="loadBtn" class="mt-4 btn btn-info col-md-9 col-sm-12 col-12" onclick="load_blogs()">
        Load More
    </div> {% endcomment %}
</div>

{% comment %} <script>
    var blogCount = Number("{{blogCount}}")
    var current_post_count = Number("{{ global_blog_count }}")

    function load_blogs() {
        
        let url = `/loadMore/${current_post_count}`
        fetch(url, {
                method: "GET",
            })
            .then((response) => {
                return response.json();
            })
            .then((response) => {
                console.log('responce--', response)
                var temp = Number("{{ global_blog_count }}")
                current_post_count += temp
                console.log('current_post_count--',current_post_count)
                localStorage.removeItem("current_post_count")
                localStorage.setItem("current_post_count",current_post_count)
                if (current_post_count >= blogCount) {
                    var btn = document.getElementById("loadBtn")
                    btn.onclick = ""
                    btn.innerText = "No Posts to load"
                    
                }
                add_Blogs(response)
            }).catch((err) => {
                console.log('error--', err)
            });

    }
    load_blogs()
    function add_Blogs(data) {
        var html = ""
        data.forEach(blog => {

            html += `<div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-3">
                        <a href="/blogpost/${blog.post_id}" style="text-decoration: none;">
                            <div class="card card-width">
                                <img src="${blog.img}" class="card-img-top" style="height:12rem;" alt="Img not found">
                                <div class="card-body" style="color: black;">
                                    <h5 class="card-title">${blog.title.slice(0,50)}</h5>
                                    ${getDate(blog.pub_date)} <b>${blog.user}(${blog.views} views)</b>
                        
                                </div>
                            </div>
                        </a>
                    </div>`
        });

        document.querySelector("#all_blogs").insertAdjacentHTML('beforeend', html)
        // all_blogs.append(html)
    }

    function getDate(currentDate) {
        // console.log("currentDate--",currentDate)
        var monthList = ["JAN.", "FEB.", "MAR.", "APR.", "MAY.", "JUN.", "JUL.", "AUG.", "SEP.", "OCT.", "NOV.", "DEC."]
        let date = new Date(currentDate);
        let time = date.toLocaleTimeString([], {
            hour12: true,
            hour: "2-digit",
            minute: "2-digit",
        });
        let completeDate = `${monthList[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()} ,${time} `;
        return completeDate;
    } {% endcomment %}

</script>
{% endblock body %}