{% extends 'base.html' %}
{% block title %}
IamCODER
{% endblock title %}
{% block css %}
#myTextarea{
height: 80vh;
}
{% endblock css %}
{% block body %}
<script type="text/javascript" src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js'
    referrerpolicy="origin">
</script>

<div class="container mt-5">
<div id="myaleart"></div>
<form  id="blog-form" method="POST" action="{% url 'Post_Blog' %}">
    {% csrf_token %}
    <div class="form-group">
        <label>Title</label>
        <input type="title" class="form-control" placeholder="Title" name="title" required>
    </div>
    <div class="form-group">
        <label>Image Link</label>
        <input type="url" class="form-control" placeholder="Image Link" name="img_url" required>
    </div>
    <div class="form-group">
        <label>Contant</label>
        <textarea class="form-control" id="myTextarea" name="contant" ></textarea>    
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script type="text/javascript">
    tinymce.init({
        selector: '#myTextarea',
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullpage | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: {
                title: 'My Favorites',
                items: 'code visualaid | searchreplace | spellchecker | emoticons'
            }
        },
        menubar: 'favs file edit view insert format tools table help',
        
    });
</script>
<script>
    $("#blog-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'Post_Blog' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                console.log(response)
                $("#blog-form").trigger('reset');
                alert("share");
                $("#myaleart").prepend(`
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Message: </strong> Blog Posted Successfully
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                `)

            },
                
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>
{% endblock body %}