{% extends 'base.html' %}
{% block title %}
IamCODER
{% endblock title %}
{%block css %}
body {
background-color: #ffffff; }
{%endblock css%}
{% block homeactive %}active {% endblock homeactive%}
{% block body %}
{% load static %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <h3><b>Search Result: {{query}}</b></h3>
            {% if blogs|length < 1 %}
            <p>NO Result Found</p>
            <b>Your search - {{query}}</b>- did not match any documents.<br><br>
            <b>Suggestions:</b>
            <ul>
                <li> Make sure that all words are spelled correctly. </li>
                <li> Try different keywords. </li>
                <li> Try more general keywords. </li>
                <li>Try fewer keywords.</li>
            </ul>
        </div>
        {%endif%}
        {% for blog in blogs reversed %}
        <div class="col-md-10">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{blog.title}}</h3>
                    <div class="mb-1 text-muted"><b>{{blog.writter}}</b> {{blog.pub_date}}({{blog.view}}  views)</div>
                    <p class="card-text mb-auto">{{blog.contant|truncatechars:180}}...</p>
                    <a href="blogpost/{{blog.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{blog.thumbnail}}" class="bd-placeholder-img my-4" style="width:100%;height:80%;">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}