{% extends 'base.html' %}
{% block title %}
IamCODER
{% endblock title %}
{% block homeactive %}active {% endblock homeactive%}
{% block body %}
{% load static %}
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <h3><b>Search Result: {{query}}</b></h3>
            {% if blogs|length < 1 %}
            <p>NO Result Found</p>
            <b>Your search - {{query}}</b>- did not match any documents.<br><br>
            <b>Suggestions:</b>
            <ul>
                <li> Make sure that all words are spelled correctly. </li>
                <li> Try different keywords. </li>
                <li> Try more general keywords. </li>
                <li>Try fewer keywords.</li>
            </ul>
        </div>
        {%endif%}
        <div class="row">
            {% for blog in blogs reversed %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
                <div class="card"  style="width: 20rem; min-height: 22rem;">
                    <img src="{{blog.IMG_url}}" class="card-img-top" style="height:12rem;" alt="Img not found">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.title|truncatechars:50}}</h5>
                        <b>{{blog.user.username}}</b>{{blog.pub_date}}({{blog.view}} views)
                        <a href="{% url 'blogpost' blog.post_id %}" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}