{% extends 'base.html' %}
{% block title %}
IamCODER
{% endblock title %}
{%block css %}

.card-width{
      width: 25rem; 
      min-height: 22rem;
    }
  @media screen and (max-width: 820px) {
    .card-width{
    width: 19rem; 
    min-height: 20rem;
    
    }
  }
{%endblock css%}
{% block trendactive %}active {% endblock trendactive%}
{% block body %}
{% load static %}
<div class="container-fluid" style="margin-top:6em;">
    <div class="row">
        <div class="col-md-12">
            <h3><b>Tranding Tech News</b></h3>
        </div>
        {% for blog in blogs reversed %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
            <a href="{% url 'blogpost' blog.post_id %}" style="text-decoration: none;">
                <div class="card card-width">
                    <img src="{{blog.IMG_url}}" class="card-img-top" style="height:12rem;" alt="Img not found">
                    <div class="card-body" style="color: black;">
                        <b>##{{ forloop.counter }}</b><h5 class="card-title">{{blog.title|truncatechars:60}}</h5>
                        {{blog.pub_date}} <b>{{blog.user.username}}</b>({{blog.view}} views)
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}