{% extends 'base.html' %}
{% block title %}
IamCODER
{% endblock title %}
{%block css %}
body {
background-color: #ffffff; }
.image{
    width:25rem;
    height:14rem;
}
{%endblock css%}
{% block trendactive %}active {% endblock trendactive%}
{% block body %}
{% load static %}
<div class="container mt-5">
    <div class="row my-2">
       <div class="col-md-9 mt-3">
        <h3 ><b>Trending Tech News</b></h3>
        </div>
        {% for blog in blogs%}
        <div class="col-md-12">
         <a href="/blogpost/{{blog.post_id}}" class="stretched-link text-dark" style="text-decoration: none;">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
                 <div>
                    <img src="/media/{{blog.thumbnail}}" class="image bd-placeholder-img mb-0">
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{blog.title|truncatechars:50}}</h3>
                    <div class="mb-1 text-muted"><b>{{blog.writter}}</b> {{blog.pub_date}}({{blog.view}} views)</div>
                    <p class="card-text mb-auto preview">{{blog.contant|safe|truncatechars:250}}...</p>
                </div>
            </div></a>
        </div>
        {% endfor %}
    </div>
    <div class="row my-2">
      
    </div>
</div>
{% block js %}
<script>
let previews=document.getElementsByClassName('preview'):
Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
});
</script>
{% endblock js %}
{% endblock body %}