{% extends 'base.html' %}
{% block title %}
IamCODER
{% endblock title %}
{% block body %}
<div class="container" style="margin-top:6em;">
    <div class="row">
        <div class="col-md-12">
            <h3><b>Saved Blogs</b></h3>
        </div>
        {% for blog in blogs reversed %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-3">
            <a href="{% url 'blogpost' blog.blogs.post_id %}" style="text-decoration: none;">
                <div class="card" style="width: 20rem; min-height: 22rem;">
                    <img src="{{blog.blogs.IMG_url}}" class="card-img-top" style="height:12rem;" alt="Img not found">
                    <div class="card-body" style="color: black;">
                        <h5 class="card-title">{{blog.blogs.title|truncatechars:50}}</h5>
                        {{blog.blogs.pub_date}} <b>{{blog.blogs.user.username}}</b>({{blog.blogs.view}} views)
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}