<!Doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="XkdFowNL9VdqheyUdGW8gDCipvs8qhwuunWnGSS0e_M" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>iCODER</title>
  <style>
    .search {
      float: right;
    }

    footer {
      padding: 4rem 0;
      font-family: 'Philosopher', sans-serif;
      font-size: 1.25rem;
      color: #999999;
      text-align: center;
    }

    .searchbtn {
      float: right;
    }

    body {
      font-size: 1rem;
      color: #080707;
    }

    {% block css %}

    {% endblock %}
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <a href="/"><img src="{% static "blog/coder.png"%}" style="width:3.5rem;height:1.5rem;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">￼
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %}{% endblock homeactive%}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block trendactive %}{% endblock trendactive%}">
          <a class="nav-link" href="/trending/">Trending<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutactive %}{% endblock aboutactive%}">
          <a class="nav-link" href="/about/">About Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method='get' action='/search/'>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
          id="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-2">
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome {{request.user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'UserPosts' %}">MyPosts</a>
            <a class="dropdown-item" href="{% url 'Post_Blog' %}">CreateBlog</a>
            <a class="dropdown-item" href="/logout/">Logout</a>
          </div>
        </li>
      </ul>
      {% else %}
      <!-- Button to trigger sign up  modal -->
      <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#signupModal">
        Sign Up
      </button>
      <!-- Button to trigger log in  modal -->
      <button type="button" class="btn btn-primary mx-1" data-toggle="modal" data-target="#loginModal">
        Log In
      </button>
      {%endif%}
      
  </nav>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <!--Sign UP Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModal">Sign Up Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup/" method="post">
            <div class="form-group">
              <label for="username">UserName</label>
              <input type="text" class="form-control" id="username" name="username"
                placeholder="username only AlphaNumeric" Required>
            </div>
            <div class="form-group">
              <label for="fname">First Nmae</label>
              <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" Required>
            </div>
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" Required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" Required>
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="enter password" Required>
            </div>
            <div class="form-group">
              <label for="pass2">Cofirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2" placeholder="enter password again"
                Required>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Log in  Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModal">Log In Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login/" method="post">
            <div class="form-group">
              <label for="loginusername">UserName</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername"
                placeholder="name@example.com" Required>
            </div>
            <div class="form-group">
              <label for="loginpassword">Password</label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                placeholder="enter password" Required>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% block body %} {% endblock %}
  <div class="container-fluid mt-5" style="background-color:rgb(120, 245, 182);">
  <footer >
    <a href="https://www.facebook.com/profile.php?id=100050134031510" style="color:#080707;">
      <img src="https://i.ya-webdesign.com/images/why-does-my-png-have-a-black-background-5.png"
        style="width:2em;height:2em;">
      <h2>Facebook</h2>
    </a>
    <a href="https://www.gmail.com" style="color:#080707;">
      <img src="https://i.ya-webdesign.com/images/embed-a-png-in-gmail-2.png" style="width:2em;height:2em;">
      <h2>Gmail</h2>
    </a>
    <p style="color:#080707;">gk32239@gmail.com</p>
    <h3 style="color:#080707;">&copy;GautamKumar</h3>
  </footer></div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
  {% block js %} {% endblock %}
</body>
</html>